{% extends "dashboard/base.html" %}
{% block main_content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb my-3">
          <li class="breadcrumb-item active">Home</li>
          {% comment %} <li class="breadcrumb-item active" aria-current="page">Library</li> {% endcomment %}
        </ol>
      </nav>
      <div class="d-flex align-items-center justify-content-between">
          <h3 class="my-3">Quizes</h3>
          <a class="btn btn-primary" href="{% url 'dashboard:quiz_create' %}">New Quiz</a>
        </div>
    <div class="list-group list-group-checkable d-grid gap-2 border-0">
        <div class="row">
            {% for item in quizes %}
            <div class="col-md-4 col-lg-3 my-2">
                <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
                    {{item.title}}&nbsp;
                    {% if item.is_active %}
                    <span class="badge text-bg-success rounded-pill">Live</span>
                    {% endif %}
                    <span class="d-block small opacity-50">Time: {{item.time}} min.</span>
                    <span class="badge bg-info-subtle text-info-emphasis rounded-pill">Quiz Code: {{item.code}}</span>
                    <div class="mt-3">
                        <a class="btn btn-info btn-sm" href="{% url 'dashboard:quiz_detail' item.code %}">Detail</a>
                    {% if item.is_active %}
                        <a target='_blank' class="btn btn-sm btn-warning" href="{% url 'dashboard:leaderboard' item.code %}">Leaderboard</a>
                    {% endif %}
                    </div>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main_content %}